<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @email_template.name %>
</p>

<p>
  <b>Short Name:</b>
  <%= @email_template.short_name %>
</p>


<p>
  <b>Description:</b>
  <%= @email_template.description %>
</p>


<%= link_to 'Edit', edit_email_template_path(@email_template) %> |
<%= link_to 'Back', email_templates_path %>
